<header>
  <!-- begin navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <!-- Brand -->
      <a class="navbar-brand" href="index.html">Run Better Project</a>

      <!-- Mobile toggle -->
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Nav links -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="running-101.html">Running 101</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="training-plans.html">Training Plans</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="community.html">Find Your Community</a>
          </li>

          <!-- Resources dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="resourcesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Resources </a>
            <ul class="dropdown-menu" aria-labelledby="resourcesDropdown">
              <li><a class="dropdown-item" href="nutrition.html">Nutrition</a></li>
              <li><a class="dropdown-item" href="injury-prevention.html">Injury Prevention</a></li>
              <li><a class="dropdown-item" href="gear.html">Gear Guide</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="blog.html">Stories & Tips</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="events.html">Events</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="donate.html">Donate</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="about-us.html">About Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navbar -->
</header>
